[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ronniemara
[access "refs/for/refs/*"]
	read = group user/ronniemara
	push = group user/ronniemara
	label-Code-Review = -2..+2 group user/ronniemara
	label-Verified = -1..+1 group user/ronniemara
	rebase = group user/ronniemara
	removeReviewer = group user/ronniemara
	submit = group user/ronniemara
[access "refs/heads/*"]
	read = group user/ronniemara
	create = group user/ronniemara
	push = +force group user/ronniemara
	pushMerge = group user/ronniemara
[access "refs/tags/*"]
	push = +force group user/ronniemara
	pushTag = group user/ronniemara
	pushSignedTag = group user/ronniemara
